<section class="grid lg:grid-cols-2">
  <div>
    <img class="lg:hidden w-inherit" src="images/mobile/image-transform.jpg" />
    <img class="hidden lg:inline w-inherit" src="images/desktop/image-transform.jpg" />
  </div>

  <div class="text-center lg:text-left pt-[57px] lg:pt-[163px] pb-[50px] 
    lg:pb-[155px] px-[23px] lg:pl-[160px] lg:pr-[112px] order-[-1]">
    <h2 class="font-fraunces font-black text-very-dark-desaturated-blue 
      text-3xl">
      Transform your brand
    </h2>

    <p class="mt-[22px] text-dark-grayish-blue">
        We are full-service creative agency specializing in helping brands 
        grow fast. Engage your clients through compelling visuals that do most 
        of the marketing for you.
    </p>

    <a class="uppercase block mt-[33px] font-fraunces font-black 
      text-very-dark-desaturated-blue">
      Learn more
    </a>
  </div>

  <div>
    <img class="lg:hidden w-inherit" src="images/mobile/image-stand-out.jpg" />
    <img class="hidden lg:inline w-inherit" src="images/desktop/image-stand-out.jpg" />
  </div>

  <div class="text-center lg:text-left pt-[57px] lg:pt-[163px] pb-[50px] 
    lg:pb-[155px] px-[23px] lg:pl-[160px] lg:pr-[112px]">
    <h2 class="font-fraunces font-black text-very-dark-desaturated-blue 
      text-3xl">
      Stand out to the right audience
    </h2>

    <p class= mt-[22px] text-dark-grayish-blue">
      Using a collaborative formula of designers, researchers, photographers, 
      videographers, and copywriters, we'll build and extend your brand in 
      digital places.
    </p>

    <a class="uppercase block mt-[33px] font-fraunces font-black 
      text-very-dark-desaturated-blue">
      Learn more
    </a>
  </div>

  <div class="bg-img-graphic-mb lg:bg-img-graphic-des bg-cover bg-no-repeat 
    pt-[416px] pb-[45px] px-[23px] w-full">
    <div class="max-w-[322px] m-auto text-center">
      <h2 class="text-dark-desaturated-cyan font-fraunces font-black text-3xl">
        Graphic Design
      </h2>
      <p class="mt-[25px] text-dark-moderate-cyan">
        Great design makes you memorable. We deliver artwork that underscores
        your brand message and captures potential clients' attention.
      </p>
    </div>
  </div>

  <div class="bg-img-photography-mb lg:bg-img-photography-des bg-cover 
    bg-no-repeat pt-[416px] pb-[45px] px-[23px] w-full">
    <div class="max-w-[322px] m-auto text-center">
      <h2 class="text-dark-blue font-fraunces font-black text-3xl">
        Photography
      </h2>
      <p class="mt-[25px] text-very-dark-desaturated-blue">
        Increase your credibility by getting the most stunning, high-quality
        photos that improve your business image.
      </p>
    </div>
  </div>
</section>
