<section class="bg-img-header-mb bg-no-repeat bg-cover w-full pt-[119px] 
  pb-[150px] px-[22px] flex flex-col content-center justify-center bg-left-top">
  <h1 class="uppercase font-fraunces text-[#fff] text-center text-[42px] 
    tracking-[6px] font-black leading-[50px]">
    We are creatives
  </h1>

  <button class="self-center mt-[43px]">
    <img src="images/icon-arrow-down.svg" alt="Click to start reading" />
  </button>
</section>

<section class="flex flex-col">
  <div>
    <div>
      <img src="images/mobile/image-transform.jpg" />
    </div>
    <div class="flex flex-col align-center pt-[57px] pb-[50px] px-[23px]">
      <h2 class="font-fraunces font-black text-very-dark-desaturated-blue 
        text-3xl text-center">
        Transform your brand
      </h2>
      <p class="text-center mt-[22px] text-dark-grayish-blue">
         We are full-service creative agency specializing in helping brands 
         grow fast. Engage your clients through compelling visuals that do most 
         of the marketing for you.
      </p>
      <a class="uppercase block mt-[33px] font-fraunces font-black text-center 
        text-very-dark-desaturated-blue">
        Learn more
      </a>
    </div>
  </div>

  <div>
    <div>
      <img src="images/mobile/image-stand-out.jpg" />
    </div>
    <div class="flex flex-col align-center pt-[57px] pb-[50px] px-[23px]">
      <h2 class="font-fraunces font-black text-very-dark-desaturated-blue 
        text-3xl text-center">
        Stand out to the right audience
      </h2>
      <p class="text-center mt-[22px] text-dark-grayish-blue">
        Using a collaborative formula of designers, researchers, photographers, 
        videographers, and copywriters, we'll build and extend your brand in 
        digital places.
      </p>
      <a class="uppercase block mt-[33px] font-fraunces font-black text-center 
        text-very-dark-desaturated-blue">
        Learn more
      </a>
    </div>
  </div>

  <div class="bg-img-graphic-mb bg-cover bg-no-repeat text-center pt-[416px] 
    pb-[45px] px-[23px] w-full">
    <h2 class="text-dark-desaturated-cyan font-fraunces font-black text-3xl">
      Graphic Design
    </h2>
    <p class="mt-[25px] text-dark-moderate-cyan">
      Great design makes you memorable. We deliver artwork that underscores 
      your brand message and captures potential clients' attention.
    </p>
  </div>

  <div class="bg-img-photography-mb bg-cover bg-no-repeat text-center pt-[416px] 
    pb-[45px] px-[23px] w-full">
    <h2 class="text-dark-blue font-fraunces font-black text-3xl">
      Photography
    </h2>
    <p class="mt-[25px] text-very-dark-desaturated-blue">
      Increase your credibility by getting the most stunning, high-quality 
      photos that improve your business image.
    </p>
  </div>
</section>
