<header class="flex justify-between py-6 px-[18px] fixed w-full">
  <div>
    <img src="images/logo.svg" alt="Sunny side logo" />
  </div>

  <nav class="hidden flex">
    <ul>
      <li>
        <a>About</a>
      </li>
      <li>
        <a>Services</a>
      </li>
      <li>
        <a>Projects</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
    </ul>
  </nav>

  <button>
    <img src="images/icon-hamburger.svg" alt="Menu" />
  </button>
</header>
