<section class="bg-img-header-mb md:bg-img-header-des bg-no-repeat bg-cover 
  w-full pt-[119px] lg:pt-[200px] pb-[150px] lg:pb-[300px] px-[22px] flex flex-col 
  content-center justify-center bg-left-top relative">

  <header class="flex justify-between items-center py-6 px-[18px] lg:p-[30px] 
  absolute top-0 left-0 right-0 w-full">
    <div>
      <img src="images/logo.svg" alt="Sunny side logo" />
    </div>

    <nav class="hidden lg:block">
      <ul class="flex items-center">
        <li class="font-bold text-[#fff]">
          <a>About</a>
        </li>
        <li class="font-bold ml-[48px] text-[#fff]">
          <a>Services</a>
        </li>
        <li class="font-bold ml-[48px] text-[#fff]">
          <a>Projects</a>
        </li>
        <li class="font-bold ml-[48px] uppercase font-fraunces">
          <a class="block py-[20px] px-[30px] bg-[#fff] rounded-[50px]">
            Contact
          </a>
        </li>
      </ul>
    </nav>

    <button class="lg:hidden">
      <img src="images/icon-hamburger.svg" alt="Menu" />
    </button>
  </header>

  <h1 class="uppercase font-fraunces text-[#fff] text-center text-[42px] 
    tracking-[6px] font-black leading-[50px]">
    We are creatives
  </h1>

  <button class="self-center mt-[43px]">
    <img src="images/icon-arrow-down.svg" alt="Click to start reading" />
  </button>
</section>
